# ===== OS junk =====
.DS_Store
Thumbs.db

# ===== Gradle build system =====
.gradle/
build/
run/
*.log

# ===== IDE files =====
.idea/
.settings/
.vscode/
.classpath
.project

# ===== MCreator internal =====
.mcreator/
